[submodule "blogs"]
	path = content/blogs
	url = git@github.com:ogios/blogs.git
[submodule "projects/json-schema-editor"]
	path = projects/json-schema-editor
	url = git@github.com:ogios/JSONSchemaStruct.git
